
// COLORS


// END

// BASE LAYOUT

html {
    background: #333;
}

body {
    background-color: $ivory;
    background: url(../img/bg/graphy_2.png) repeat;
    @include container(960px);

    /* #### Mobile Phones Portrait #### */
    @media screen and (max-device-width: 480px) and (orientation: portrait){
      // background: red;
      .sectionOne,
      .sectionTwo {
        @include span(100%);
      }
    }

    /* #### Mobile Phones Landscape #### */
    @media screen and (max-device-width: 640px) and (orientation: landscape){
      // background: red;
    }

    /* #### Mobile Phones Portrait or Landscape #### */
    @media screen and (max-device-width: 640px){
      // background: red;
    }

    /* #### iPhone 4+ Portrait or Landscape #### */
    @media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
      // background: red;
    }

    /* #### Tablets Portrait or Landscape #### */
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
      // background: red;
    }

    /* #### Desktops #### */
    @media screen and (min-width: 1024px){
      // background: red;
    }


}

main {
    @include clearfix;
    @include show-grid(12);
    padding: 0 1rem;
}
.sectionOne {
    @include span(48%);
    // background: orange;
    @include clearfix;
    // @include show-grid(6);

    @include breakpoint($bg) {
        // background: blue;
    }
    @include breakpoint($sm) {
        @include span(100%);
        // background: beige;
    }
}

.sectionTwo {
    @include span(48% last);
    // background: darkorange;
    @include clearfix;
    // @include show-grid(6);

    @include breakpoint($bg) {
        // background: green;
    }
    @include breakpoint($sm) {
        @include span(100%);
        // background: yellow;
    }
}
// END BASE LAYOUT

header, footer {
    color: $ivory;
    @include shadow;
    background: url(../img/bg/bg_bag_dk.jpg) repeat;
    @include clearfix;
}

header {
    margin: 0 0 1em 0;
}

footer {
    margin: 1em 0 0 0;
    h2 {
        margin: 0.6em 0 0 0.5em;
    }
}

