.nav {
    // background: url(bg/bg01-bl.png) repeat;
    // @include span(10 of 12);
    padding: 0rem 1rem;
}

.nav h1 {
    display: block;
    float: left;
    margin: .2em 0 .2em 0;
    padding: 0;
    font-family: $font-head;
    font-size: 5em;
    color: $ivory;
    @include single-text-shadow(5px);
    line-height: 90%;
    font-weight: normal;
}

.nav h1 a {
    margin: 0em 0 0em 0;
    text-decoration: none;
}

.nav h1 a:hover {
    color: $accent;
}

.nav h2 {
    font-family: $font-subhead;
    font-size: 2.125em;
    margin: 0.531em 0 0 .4em;
    padding: 0;
    display: inline-block;
    float: left;
    width: 205px;
    color: $ivory;
    @include single-text-shadow;
    letter-spacing: 0.06em;
    line-height: .968em;
    font-weight: normal;
}

.nav a {
    color: $ivory;
    &:hover {
        color: $accent;
    }
}

.contact {
    color: $ivory;
    margin: .55em 1em 0 0;
    padding: 0;
    display: block;
    float: right;
    font-family: $font-subhead;
    font-size: 1.5em;
    text-align: center;
    @include breakpoint($sm) {
        font-size: 1.25em;
    }

    .email {
        line-height: 1.1em;
        margin: .75em 0 0 0;
        padding: 0;
        letter-spacing: .05em;
        a {
            text-decoration: none;
            &:hover {
                color: $accent;
            }
        }
    }
    .resume {
        font-size: 0.76em;
        line-height: 1em;
        margin: .0em 0 0 0;
        padding: 0;
        letter-spacing: .05em;
        a {
            text-decoration: none;
        }
    }
}

//  END NAVIGATION <<<<<<<<<<
// ##########


// TABLET
// TABLET
// TABLET
// TABLET

@include breakpoint($sm) {
    .nav h1 {
        font-size: 4.8em;
        margin: .15em 0 -4px -4px;
        display: block;
        float: left;
        clear: left;
        // background-color: orange;
        // @include span-columns(6);
        // @include isolate(2);

    }
    .nav h2 {
        font-size: 2.25em;
        // float: right;
        margin: 0.2em 0 0.4em 0;
        letter-spacing: 0em;
        // width: inherit;
        display: block;
        float: left;
        clear: left;
        width: auto;
        // background: red;
        // @include breakpoint($smSm) {
        //  font-size: 2.25em;
        // }

    }
    .nav .contact {
        margin: -2em 1em 0 0;
        padding: 0;
        display: inline-block;
        float: right;
        clear: right;
        width: auto;
        // background-color: red;

    }
    .nav .contact .email {
        font-size: 1.3em;
        line-height: 1.3em;
        margin: 0;
        padding: 0;
        letter-spacing: .08em;
        // display: inline-block;
        // float: left;
        text-align: center;
        letter-spacing: 1px;
        width: auto;
    }
    .nav .contact .resume {
        font-size: .96em;
        // line-height: 1.5em;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        // display: inline-block;
        // float: left;
        text-align: center;
        letter-spacing: 1px;
        width: auto;
        // background: red;

    }
}

// MINI TABLET
// MINI TABLET
// MINI TABLET
// MINI TABLET
// MINI TABLET
// MINI TABLET
// MINI TABLET

@include breakpoint($sm) {
    .nav h1 {
        font-size: 5.8em;
        margin: .2em 0 0em 0;
        letter-spacing: .02em;
        // background-color: green;

    }
    .nav h2 {
        font-size: 2.5em;
        margin: .2em 0 .2em 0;
        letter-spacing: 1px;
        clear: both;
    }
    .nav .contact {
        width: auto;
        float: left;
        clear: both;
        margin: 0 0 1em 0;
        padding: 0 0 0 0;
    }
    .nav .contact .email {
        font-size: 1em;
        width: auto;
        display: block;
        float: left;
        clear: left;
        margin: 0;
    }
    .nav .contact .resume {
        font-size: 1em;
        width: auto;
        display: block;
        float: left;
        clear: right;
        margin: .13em 0 0 1em;
    }
    footer .nav .contact .email {
        font-size: 1em;
        width: auto;
        display: block;
        float: left;
        clear: left;
        margin: 0;
    }
    footer .nav .contact .resume {
        font-size: 1em;
        display: block;
        float: left;
        clear: right;
        margin: .2em 0 0 1em;
    }
}

// // MOBILE
// // MOBILE
// // MOBILE
// // MOBILE
// // MOBILE
// // MOBILE

// @include breakpoint($mobile) {
//     .nav h1 {
//         font-size: 4.925em;
//         clear: both;
//         // background-color: red;

//     }
//     .nav h2 {
//         font-size: 2.23em;
//         margin: .2em 0 .15em 0;
//         letter-spacing: .01em;
//         clear: both;
//     }
//     .nav .contact {
//         width: 100%;
//         float: left;
//         clear: both;
//         margin: 0 0 1em 0;
//     }
//     .nav .contact .email {
//         font-size: 1em;
//         width: auto;
//         display: block;
//         float: left;
//         clear: left;
//         margin: 0;
//     }
//     .nav .contact .resume {
//         font-size: 1em;
//         width: auto;
//         display: block;
//         float: left;
//         clear: right;
//         margin: .2em 0 0 1em;
//     }
//     footer .nav .contact .email {
//         font-size: 1em;
//         width: auto;
//         display: block;
//         float: left;
//         clear: left;
//         margin: 0;
//     }
//     footer .nav .contact .resume {
//         font-size: 1em;
//         display: block;
//         float: left;
//         clear: right;
//         margin: .15em 0 0 1em;
//     }

// }

