.skills {
    @include span(100%);
    // display: inline-block;
    // float: left;
    // clear: left;
    margin: .5em 0 0 0;
    padding: 0;
    text-align: center;
    .col1,
    .col2,
    .col3,
    .col4 {
        @include span(1 of 4);
        padding-left: 0.2em;
    }
    .col4 {
        @include span(1 of 4 last);
    }
    .icon {
        display: block;
        clear: left;
        margin: 0 0rem 1rem;
        padding: 0;
        text-align: center;
        width: 88px;
        height: 60px;
        background-size: 88px 60px;
        @include clearfix;
        &:last-child {
            margin-bottom: 0;
        }

        &.uiux {
            background: url(../img/icons/uiux.svg);
            background-size: cover;
        }
        &.terminal {
            background: url(../img/icons/terminal.svg);
            background-size: cover;
        }
        &.yo {
            background: url(../img/icons/yeoman.svg);
            background-size: cover;
        }
        &.html5 {
            background: url(../img/icons/html.svg);
            background-size: cover;
        }
        &.sublime_text {
            background: url(../img/icons/sublime.svg);
            background-size: cover;
        }
        &.javascript {
            background: url(../img/icons/javascript.svg);
            background-size: cover;
        }
        &.css3 {
            background: url(../img/icons/css.svg);
            background-size: cover;
        }
        &.sass {
            background: url(../img/icons/sass.svg);
            background-size: cover;
        }
        &.axure {
            background: url(../img/icons/axure.svg);
            background-size: cover;
        }
        &.cs {
            background: url(../img/icons/cs.svg);
            background-size: cover;
        }
        &.compass {
            background: url(../img/icons/compass.svg);
            background-size: cover;
        }
        &.ruby {
            background: url(../img/icons/ruby.svg);
            background-size: cover;
        }
        &.meteor {
            background: url(../img/icons/meteor.svg);
            background-size: cover;
        }
        &.react {
            background: url(../img/icons/react.svg);
            background-size: cover;
        }
        &.angular {
            background: url(../img/icons/angular.svg);
            background-size: cover;
        }
        &.svg {
            background: url(../img/icons/svg.svg);
            background-size: cover;
        }
        &.cs_icons {
            background: url(../img/icons/cs_icons.svg);
            background-size: cover;
        }
    }
}

 /* #### iPhone 4+ Portrait or Landscape #### */
    @media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .skills {
        display: inline-block;
        float: left;
        clear: left;
        margin: .5em 0 0 0;
        padding: 0;
        text-align: center;
        .col1,
        .col2,
        .col3,
        .col4 {
            @include span(1 of 4);
            padding-left: 0.2em;
        }
        .col4 {
            @include span(1 of 4 last);
        }
        .icon {
            display: inline-block;
            clear: left;
            margin: 0 0.7rem 1rem;
            text-align: center;
            width: 137px;
            height: 140px;
            @include clearfix;
            padding-left: 1em;
            &:last-child {
                margin-bottom: 0;
            }

            &.uiux {
                background: url(../img/icons/uiux.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.terminal {
                background: url(../img/icons/terminal.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.yo {
                background: url(../img/icons/yeoman.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.html5 {
                background: url(../img/icons/html.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.sublime_text {
                background: url(../img/icons/sublime.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.javascript {
                background: url(../img/icons/javascript.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.css3 {
                background: url(../img/icons/css.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.sass {
                background: url(../img/icons/sass.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.axure {
                background: url(../img/icons/axure.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.cs {
                background: url(../img/icons/cs.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.compass {
                background: url(../img/icons/compass.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.ruby {
                background: url(../img/icons/ruby.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.meteor {
                background: url(../img/icons/meteor.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.react {
                background: url(../img/icons/react.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.angular {
                background: url(../img/icons/angular.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.svg {
                background: url(../img/icons/svg.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
            &.cs_icons {
                background: url(../img/icons/cs_icons.svg);
                background-size: 105%;
                background-repeat: no-repeat;
            }
        }
    }
}

