@import 'base';
@import 'layout';
@import 'nav';
@import 'skills';

//  >>>>>>>>>>>>>>
// TYPE CONTROL
//  >>>>>>>>>>>>>>

h1, h2, h3, h4, h5 {
    color: $accent-red;
    line-height: 1.1em;
    font-weight: normal;
    text-align: left;
    margin: 0em 0 .25em 0;
    padding: 0;
    letter-spacing: .025em;
    text-transform: uppercase;
}

h1 {
    font-family: $font-head;
}

h2, h3, h4, h5 {
    font-family: $font-subhead;
}

.sectionOne .head {
    margin: 0 0 1em 0;
    float: left;
    display: inline-block;
    clear: both;
    width: 100%;
}

.sectionOne .drewhead {
    margin: 0 1em 0 0;
    padding: 0;
    width: 73px;
    height: 89px;
    background-image: url('../img/drew_head.png');
    // background: url("../img/drew_head.png");
    // background-image: url("img/drew_head.png");
    float: left;
    display: block;
    clear: left;
}

.sectionOne h1 {
    font-size: 2.05em;
    font-family: $font-subhead;
    margin: 0.95em 0em 0 0;
    color: $accent-red;
    line-height: 1.1em;
    @include single-text-shadow(white);
    padding: 0 0em 0 0;
}

.sectionOne p {
    font-size: 0.9rem;
    color: $grey;
    display: inline-block;
    float: left;
    clear: left;
    margin: 1em 1.5em 1em .8rem;
    line-height: 2.4em;
    letter-spacing: 0.075em;
}

.about {
    // display: inline-block;
    // float: left;
    background-image: url("../img/bg/bg_bag_y.png");
    background-repeat: repeat;
    margin: .3em 0 1em 0;
    padding: 0.7em 1em 0.8em 0.85em;
    // width: 95.4%;
    @include shadow;
    @include span(100%);
}

.aboutinner {
    display: inline-block;
}

.about .british_american_flag {
    @include span(2);
    // @include isolate(1);
    img {
        width: 100%;
        height: auto;
        margin-top: 0.3em;
    }
}

.about .copy {
    font-size: .85em;
    @include span(10 last);
    // @include isolate(3);
    p {
        margin: 0 0 0 1em;
    }
}

h2 {
    font-size: 2.25em;
    color: $accent;
    text-transform: capitalize;
    font-family: $font-subhead;
}

.content h2 {
    //
    &:first-of-type {
        margin: 0 0 0 0;
    }
    &:last-of-type {
        margin: 0.6em 0 0 0.5em;
    }

}

h3 {
    font-size: 1.7em;
    color: $blue-dark;
}

h4 {
    font-size: 1.5em;
    letter-spacing: .04em;
}

h5 {
    font-size: $base-font-size;
}

p {
    font-family: $font-copy;
    color: $blue-mid;
    line-height: $base-line-height;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: square;
    padding: 0;
    margin: 0 -1em 1em 0em;
    font-family: $font-copy;
    color: $blue-mid;
    line-height: $base-line-height;
    text-align: left;
}

li {
    list-style-position: outside;
    margin: .25em 0em 0 1em;
    padding-left: -1em;
    line-height: 1.6em;
}

.indent {
    padding-left: 1.5em;
}

.sectionTwo .flexslider {
    background: $ivory;
    display: block;
    clear: both;
    margin: 2em 0 1em 0;
    float: left;
    clear: both;
    padding: 0;
    width: 98%;
    @include shadow;
    @include clearfix;
}

.flexslider .slides img {
    width: 100%;
    height: auto;
}

.slides > li {
    margin: 0em;
    display: none;
}

.flex-control-nav {
    display: none;
}

.quote {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    height: 100px;
    margin: 0em 0 0em 0;
}

blockquote {
    background: darkred;
    margin: 0;
    padding: .25em 1em .75em 1em;
    @include shadow;
}

.sectionTwo blockquote p {
    color: $ivory;
    padding: .75em .5em 0em .5em;
    text-align: center;
    letter-spacing: .08em;
    font-size: .85em;
}

blockquote cite {
    color: $ivory;
    font-style: italic;
    margin: 0 4em 0 0;
    display: block;
    text-align: right;
    font-size: .8em;
    letter-spacing: .08em;
}
