%blockquote
  %p
    \&ldquo;The answer to life
    %br is knowing when to stop&rdquo;
  %cite &ndash; My Mom, when I was a kid :)
%blockquote
  %p
    \&ldquo;If you can&rsquo;t explain it simply,
    %br you don&rsquo;t understand it well enough.&rdquo;
  %cite &ndash; Albert Einstein
%blockquote
  %p &ldquo;Everything should be made as simple as possible, but not simpler.&rdquo;
  %cite &ndash; Albert Einstein
/
  <blockquote>
  <p>&amp;ldquo;It is vain to do with more what can be done with fewer&amp;rdquo;</p>
  </blockquote>
/
  <blockquote>
  <p>&amp;ldquo;Of all of our inventions for mass communication, pictures still speak the most universally understood language.&amp;rdquo;</p>
  <cite>&amp;ndash; Walt Disney</cite>
  </blockquote>
%blockquote
  %p &ldquo;Design is not just what it looks like and feels like. Design is how it works&rdquo;
  %cite &ndash; Steve Jobs, 2003
%blockquote
  %p
    \&ldquo;A picture is worth a thousand words.
    %br An interface is worth a thousand pictures&rdquo;
  %cite &ndash; Ben Shneiderman
%blockquote
  %p
    \&ldquo;We do not see things as they are;
    %br we see things as we are&rdquo;
  %cite &ndash; The Talmud
%blockquote
  %p
    \&ldquo;Measure twice,
    %br cut once"
  %cite &ndash; Unknown
/
  <blockquote>
  <p>&amp;ldquo;The dumbest mistake is viewing design as something you do at the end of the process to &amp;lsquo;tidy up&amp;rsquo; the mess, as opposed to understanding it&amp;rdquo;s a &amp;lsquo;day one&amp;rsquo; issue and part of everything.&amp;rdquo;</p>
  <cite>&amp;ndash; Tom Peters</cite>
  </blockquote>
%blockquote
  %p &ldquo;You can use an eraser on the drafting table or a sledge hammer on the construction site.&rdquo;
  %cite Frank Lloyd Wright
%blockquote
  %p &ldquo;Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away&rdquo;
  %cite &ndash; Antoine de Saint-Exupery
%blockquote
  %p
    \&ldquo;Design should never say, &lsquo;Look at me.&rsquo;
    %br It should always say, &lsquo;Look at this.&rsquo;
  %cite &ndash; David Craib
%blockquote
  %p &ldquo;Good web design is about the character of the content, not the character of the designer.&rdquo;
  %cite &ndash; Jeffrey Zeldman
%blockquote
  %p &ldquo;Good design, when it&rsquo;s done well, becomes invisible. It&rdquo;s only when it&rdquo;s done poorly that we notice it.&rdquo;
  %cite &ndash; Jared Spool
/
  <blockquote>
  <p>&amp;ldquo;Usability is like love. You have to care, you have to listen, and you have to be willing to change. You'll make mistakes along the way, but that&amp;rdquo;s where growth and forgiveness come in.&amp;rdquo;</p>
  <cite>&amp;ndash; Jeffrey Zeldman</cite>
  </blockquote>
%blockquote
  %p
    \&ldquo;Good design is about effective communication,
    %br not decoration at the expense of legibility.&rdquo;
  %cite &ndash; Vitaly Friedman
/
  <blockquote>
  <p>&amp;ldquo;If we want users to like our software, we should design it to behave like a likeable person.&amp;rdquo;</p>
  <cite>&amp;ndash; Alan Cooper</cite>
  </blockquote>
%blockquote
  %p &ldquo;Good designers want to be proved wrong, bad designers hope to be proved right.&rdquo;
  %cite &ndash; Andy Budd
%blockquote
  %p &ldquo;The ability to simplify means to eliminate the unnecessary so that the necessary may speak.&rdquo;
  %cite &ndash; Hans Hofmann
%blockquote
  %p &ldquo;Simple is hard. Easy is harder. Invisible is hardest.&rdquo;
  %cite &ndash; Jean-Louis Gass&eacute;e
%blockquote
  %p
    \&ldquo;As far as the customer is concerned,
    %br the interface is the product.&rdquo;
  %cite &ndash; Jef Raskin
%blockquote
  %p
    \&ldquo;A lot of what we are doing
    %br is getting design out of the way.&rdquo;
  %cite &ndash; Jonathan Ive
/
  <blockquote>
  <p>&amp;ldquo;Don&amp;rsquo;t make something unless it&amp;rdquo;s both necessary and useful. But if it is both necessary and useful, don&amp;rsquo;t hesitate to make it beautiful.&amp;rdquo;</p>
  <cite>&amp;ndash; Josh Porter</cite>
  </blockquote>
/
  <blockquote>
  <p>&amp;ldquo;A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.&amp;rdquo;</p>
  <cite>&amp;ndash; Douglas Adams</cite>
  </blockquote>
/
  <blockquote>
  <p>&amp;ldquo;It&amp;rdquo;s art if can&amp;rsquo;t be explained.<br>
  It&amp;rdquo;s fashion if no one asks for an explanation.<br>
  It&amp;rdquo;s design if it doesn&amp;rsquo;t need explanation.&amp;rdquo;</p>
  <cite>&amp;ndash; Wouter Stokkel</cite>
  </blockquote>
/
  <blockquote>
  <p>&amp;ldquo;Simple design, intense content.&amp;rdquo;</p>
  <cite>&amp;ndash; Edward Tufte</cite>
  </blockquote>
%blockquote
  %p &ldquo;The letter I have written today is longer than usual because I lacked the time to make it shorter&rdquo;
  %cite &ndash; Blaise Pascal
/
  <blockquote>
  <p>&amp;ldquo;If we want users to like our software, we should design it to behave like a likeable person</p>
  <cite>&amp;ndash; Alan Cooper</cite>
  </blockquote>
%blockquote
  %p &ldquo;If the user can&rsquo;t use it, it doesn&rsquo;t work
  %cite &ndash; Susan Dray
%blockquote
  %p &ldquo;If there&rsquo;s a &lsquo;trick&rsquo; to it, the UI is broken
  %cite &ndash; Douglas Anderson
%blockquote
  %p &ldquo;Know the user, and You are not the user.&rdquo;
  %cite &ndash; Unknown
%blockquote
  %p
    \&ldquo;Usability is like oxygen, you don&rsquo;t notice it
    %br until it&rdquo;s missing&rdquo;
  %cite &ndash; Unknown