.col1
  .icon
    %img{:src => "img/icons/icon_uiux.png", :title => "UI/UX"}/
  .icon
    %img{:src => "img/icons/icon_terminal.png", :title => "Command Line"}/
  .icon
    %img{:src => "img/icons/icon_yo.png", :title => "Yeoman"}/
.col2
  .icon
    %img{:src => "img/icons/icon_html5.png", :title => "HTML5"}/
  .icon
    %img{:src => "img/icons/icon_sublime_text.png", :title => "Sublime Text"}/
  .icon
    %img{:src => "img/icons/icon_javascript.png", :title => "JavaScript"}/
.col3
  .icon
    %img{:src => "img/icons/icon_css3.png", :title => "CSS3"}/
  .icon
    %img{:src => "img/icons/icon_sass.png", :title => "SASS"}/
  .icon
    %img{:src => "img/icons/icon_axure.png", :title => "Axure"}/
.col4
  .icon
    %img{:src => "img/icons/icon_cs.png", :title => "Adobe Creative Suite"}/
  .icon
    %img{:src => "img/icons/icon_compass.png", :title => "Compass"}/
  .icon
    %img{:src => "img/icons/icon_ruby.png", :title => "Ruby on Rails"}/