<div class="col1">
    <div class="icon uiux" title="UI/UX"></div>
    <div class="icon cs_icons" title="Adove Creative Suite"></div>
    <div class="icon svg" title="SVG"></div>
</div>
<div class="col2">
    <div class="icon html5" title="html5"></div>
    <div class="icon sublime_text" title="Sublime Text"></div>
    <div class="icon meteor" title="Meteor"></div>
</div>
<div class="col3">
    <div class="icon css3" title="CSS3"></div>
    <div class="icon terminal" title="Command Line"></div>
    <div class="icon axure" title="Axure"></div>
</div>
<div class="col4">
    <div class="icon javascript" title="JavaScript"></div>
    <div class="icon sass" title="SASS"></div>
    <div class="icon ruby" title="Ruby"></div>
</div>