%link{:href => "css/normalize.css", :rel => "stylesheet"}
%link{:href => "css/main.css", :rel => "stylesheet"}
%link{:href => "css/styles.css", :rel => "stylesheet"}
%link{:href => "css/flexslider.css", :rel => "stylesheet"}

%link{:href => "http://drewharper.com/img/favicons/favicon.ico", :rel => "shortcut icon"}
%link{:href => "img/favicons/favicon@2x.png", :rel => "icon", :sizes => "114x114"}
%link{:href => "img/favicons/favicon.png", :rel => "icon", :sizes => "57x57"}
%link{:href => "img/favicons/favicon-Spotlight-iOS7@2x.png", :rel => "icon", :sizes => "80x80"}
%link{:href => "img/favicons/favicon-Spotlight-iOS7.png", :rel => "icon", :sizes => "40x40"}
%link{:href => "img/favicons/favicon-Small@2x.png", :rel => "icon", :sizes => "58x58"}
%link{:href => "img/favicons/favicon-Small.png", :rel => "icon", :sizes => "29x29"}
%link{:href => "img/favicons/favicon-Small-50.png", :rel => "icon", :sizes => "50x50"}
%link{:href => "img/favicons/favicon-iPad-Spotlight-iOS7@2x.png", :rel => "icon", :sizes => "100x100"}
%link{:href => "img/favicons/favicon-72@2x.png", :rel => "icon", :sizes => "152x152"}
%link{:href => "img/favicons/favicon-72.png", :rel => "icon", :sizes => "72x72"}
%link{:href => "img/favicons/favicon-76@2x.png", :rel => "icon", :sizes => "144x144"}
%link{:href => "img/favicons/favicon-76.png", :rel => "icon", :sizes => "76x76"}
%link{:href => "img/favicons/favicon-120.png", :rel => "icon", :sizes => "120x120"}
%link{:href => "img/favicons/favicon_512@2x.png", :rel => "icon", :sizes => "512x512"}
%link{:href => "img/favicons/favicon_512.png", :rel => "icon", :sizes => "512x512"}
/[if IE]
  <style type="text/css">
  \.color-block {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000);
  zoom: 1;
  }
  </style>
%script{:src => "js/vendor/modernizr-2.6.1.min.js"}