---
title: DrewHarper.com - Extras
---

<header id="header">
    <%= partial "_includes/nav" %>
</header>

<main>
    <div class="extrasInner">
        <h1 class="center-block"><a href="/"><<</a>&nbsp;Portfolio Extras&nbsp;&nbsp;&nbsp;</h1>
        <div class="col1">

            <a href="img/portfolio/extras/serviceRequestV1.png" target="_BLANK">
            <img class="portThumbs" src="img/portfolio/extras/service-request@2x.png" width="250" height="170" alt="">
            </a>
            <p>A Service Request page</p>

            <a href="img/portfolio/extras/jpay_com_ui_email_v64.pdf" target="_BLANK">
            <img class="portThumbs" src="img/portfolio/extras/jpay-email@2x.png" width="250" height="170" alt="">
            </a>
            <p>JPay.com multipage PDF</p>

            <a href="img/portfolio/extras/JP4_ui_v4.pdf" target="_BLANK">
            <img class="portThumbs" src="img/portfolio/extras/jp4-device-music@2x.png" width="250" height="170" alt="">
            </a>
            <p>Multi-page JPay Mobile interface pdf</p>

            <a href="http://gis.civic360.com/UX/bridge/bridgeBizReqs/" target="_BLANK">
            <img class="portThumbs" src="img/portfolio/extras/bridge-analysis@2x.png" width="250" height="170" alt="">
            </a>
            <p>Bridge Admin Business Analysis</p>

        </div>
        <div class="col2">

            <a href="http://gis.civic360.com/UX/bridge/bridgeBizReqs/axure/index.html#p=browse_view" target="_BLANK">
           <img class="portThumbs" src="img/portfolio/extras/axure-bridge@2x.png" width="250" height="170" alt="">
            </a>
            <p>JPay Kiosk Email screens</p>

            <a href="img/portfolio/extras/jpay_kiosk_emessages_v18.pdf" target="_BLANK">
           <img class="portThumbs" src="img/portfolio/extras/jpay-kiosk-email@2x.png" width="250" height="170" alt="">
            </a>
            <p>JPay Kiosk Email screens</p>

            <a href="img/portfolio/extras/Jpay_kiosk_music_v18b.pdf" target="_BLANK">
            <img class="portThumbs" src="img/portfolio/extras/jpay-kiosk-music@2x.png" width="250" height="170" alt="">
            </a>
            <p>JPay Kiosk Music screens</p>

            <a href="img/portfolio/extras/mlotto_app.pdf" target="_BLANK">
            <img class="portThumbs" src="img/portfolio/extras/m-lotto-ui@2x.png" width="250" height="170" alt="">
            </a>
            <p>Mobile Lottery interface, interactive pdf</p>
        </div>

    </div>

</main>

<footer>
    <%= partial "_includes/nav" %>
</footer>
